<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDPressCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DDRedeemCodeDocumentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011E0F7617A560D0001E716F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0157AEDE17A55140001CF17A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0184EE3917A30A5000249D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0184EE5D17A30A5000249D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
